body {
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

ul {
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

span {
    display: block;
}

.link{
    font-size: 18px;
    color: #E5E7EB;
    margin-right: 10px;
}


/* Header section starts here */

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
    height: 55px;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
}

.links {
    display: flex;
    padding: 10px;
}

/* Header section ends here */

/* Main content section starts here */

.container {
    margin-right: 10px;
    display: flex;
    flex-direction: column;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    background-color: #1F2937;
    padding: 25px;
}

.title {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}
.title-text {
    font-size: 18px;
    color: #E5E7EB;
}

.title, .title-text{
    margin-bottom: -10px;
}

/* Main content section ends here */

/* "Second-content" section  starts here */


.second-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title1 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin-top: 60px;
}

.images {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    margin-top: 50px;
    gap: 150px;
}

.icon {
    width: 150px;
    height: auto;
    padding: 15px;
    padding-bottom: 35px;
    display: flex;
}

.icon-text {
    font-size: 18px;
}

.image {
    text-align: center;
}